<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza rendelési űrlap</title>
</head>
<body>
    <h1>Pizza rendelési űrlap</h1>

    
    
    <form method="post">
        <fieldset>
        <legend>Vevő adatai</legend>
        Név<input type="text" name="name" required><br>
        Telefon<input type="tel" name="phone" required>
        </fieldset>

        <fieldset>
            <legend>Pizza mérete</legend>
            <input type="radio" name="size" required value="kicsi">kicsi<br>
            <input type="radio" name="size" required value="nagy">nagy
            </fieldset>

            <button type="reset">Visszaállítás</button>
            <button type="submit">Elküldés</button>
    </form>
<a href="/">Vissza a főoldalra</a>
</body>
</html>